/* You can add global styles to this file, and also import other style files */
@import 'assets/new-screen.css';

.post {
  h1, h2, h3 {
    font-weight: 500;
  }
}

.post-form {
  margin-top: 20px;

  .gh-form-group {
    max-width: 100%;

    .gh-input, .gh-select select {
      font-size: 12pt;
    }
  }

  textarea {
    max-width: 100%;
    min-height: 150px;
  }
}
