<main class="site-main outer">
  <div class="inner">
    <article class="post-full post">
      <header class="post-full-header">
        <div class="post-full-meta">
          <time class="post-full-meta-date" datetime="2017-11-07">7 November 2017</time>
          <span class="date-divider">/</span> <a href="/tag/new-things/">{{story?.conditionDetails.category}}</a>
        </div>
        <h1 class="post-full-title">{{story?.storyDetails.title}}</h1>
      </header>

      <figure class="post-full-image" [style.backgroundImage]="story && 'url(' + story?.storyDetails.mainImage + ')'">
        <div class="post-full-introauthors">
          <app-author-list [authors]="authors" [showDetailed]="true"></app-author-list>
        </div>
      </figure>

      <section class="post-full-content">
        <h2>Story</h2>
        <div class="kg-card-markdown">
          <p>{{story?.storyDetails.details}}</p>
        </div>

        <h2>Condition</h2>
        <div class="kg-card-markdown">
          <p>{{story?.conditionDetails.details}}</p>
        </div>
      </section>

      <section class="subscribe-form">
        <h3 class="subscribe-form-title">Ghost Newsletter</h3>
        <p>Stay up to date with the latest Ghost news, tutorials and resources. All the best bits, delivered every Sunday.</p>
      </section>
    </article>
  </div>
</main>
