.highlight-image {
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.condition-details {
  .image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
      max-height: 230px;
      max-width: 230px;
      border-radius: 5px;
      box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
      margin: 25px 0 0;
    }
  }
}

.read-next {
  background: #f4f8fb;

  .post-form {
    width: 100%;
    margin: 0;

    .gh-form-group:last-child {
      margin-bottom: 0;
    }
  }
}
