.highlight-image {
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.read-next {
  background: #f4f8fb;

  .post-form {
    width: 100%;
    margin: 0;

    .gh-form-group:last-child {
      margin-bottom: 0;
    }
  }
}
