<main class="site-main outer">
  <div class="inner">
    <article class="post-full post">
      <header class="post-full-header">
        <div class="post-full-meta">
          <time class="post-full-meta-date" datetime="2017-11-07">7 November 2017</time>
          <span class="date-divider">/</span> <a href="/tag/new-things/">{{story?.story.conditionDetails.category}}</a>
        </div>
        <h1 class="post-full-title">{{story?.story.storyDetails.title}}</h1>
      </header>

      <figure class="post-full-image" [style.backgroundImage]="story && 'url(' + story?.story.storyDetails.mainImage + ')'">
        <div class="post-full-introauthors">
          <app-author-list [authors]="participants" [showDetailed]="true"></app-author-list>
        </div>
      </figure>

      <section class="post-full-content">
        <form *ngIf="canSeeConditionDetails()" class="post-form">
          <div class="gh-form-group-horizontal">
            <div class="gh-form-group">
              <button *ngIf="viewState !== ViewState.STORY"
                      (click)="viewState = ViewState.STORY" class="gh-input gh-btn-white">
                Read Story
              </button>
              <button *ngIf="viewState === ViewState.STORY"
                      (click)="viewState = ViewState.CONDITION" class="gh-input gh-btn-white">
                Read Condition Details
              </button>
            </div>

            <div *ngIf="canSubmitResearch()" class="gh-form-group">
              <button *ngIf="viewState === ViewState.RESEARCH"
                      (click)="viewState = ViewState.CONDITION" class="gh-input gh-btn-white">
                Read Condition Details
              </button>
              <button *ngIf="viewState !== ViewState.RESEARCH"
                      (click)="viewState = ViewState.RESEARCH" class="gh-input gh-btn-white">
                Submit Research
              </button>
            </div>
          </div>
        </form>

        <div *ngIf="viewState === ViewState.STORY" class="kg-card-markdown">
          <p>{{story?.story.storyDetails.details}}</p>
        </div>

        <div *ngIf="viewState === ViewState.CONDITION">
          <app-condition [details]="story?.story.conditionDetails"></app-condition>
        </div>

        <div *ngIf="viewState === ViewState.RESEARCH">
          <app-research [storyId]="story?.id"></app-research>
        </div>
      </section>
    </article>
  </div>
</main>

<aside class="read-next outer">
  <div class="inner">
    <div class="read-next-feed">
      <app-post-card class="read-next-card" [details]="fundingCardDetails">
        <form [formGroup]="fundingForm" class="post-form">
          <div class="gh-form-group gh-form-group-horizontal">
            <div class="input-group">
              <input type="number" formControlName="diagAmount" class="gh-input" placeholder="100.00">
              <div class="input-group-append">
                <span class="input-group-text">DIAG</span>
              </div>
            </div>

            <img class="spacer-icon" src="/assets/convert-icon.svg" alt="≈">

            <div class="input-group">
              <input type="number" formControlName="currencyAmount" class="gh-input" placeholder="10.00">
              <div class="input-group-append">
                <span class="input-group-text">USD</span>
              </div>
            </div>
          </div>

          <div class="gh-form-group">
            <input type="submit" value="Contribute" (click)="onSubmitContribution()" class="gh-input gh-btn-blue">
          </div>
        </form>
      </app-post-card>

      <app-post-card *ngIf="!canAssignRoles()" class="read-next-card post-card-secondary" [details]="researchCardDetails">
        <form class="post-form">
          <div class="gh-form-group">
            <input type="button" value="Submit Research Request" (click)="onRequestToResearch()" class="gh-input gh-btn-white">
          </div>
        </form>
      </app-post-card>

      <app-post-card *ngIf="canAssignRoles() && hasResearchRequests()" class="read-next-card post-card-secondary" [details]="selectRolesCardDetails">
        <div class="post-form">
          <div *ngFor="let user of researchRequests" class="gh-form-group">
            <div class="input-group">
              <input type="text" [value]="user" class="gh-input" disabled>

              <div ngbDropdown class="input-group-append">
                <button ngbDropdownToggle class="input-group-text gh-input gh-btn-white">Assign Role</button>
                <div class="dropdown">
                  <ul ngbDropdownMenu class="dropdown-menu">
                    <li>
                      <button (click)="onAssignRole(user, TaskRole.WORKER)">Assign as Researcher</button>
                      <button (click)="onAssignRole(user, TaskRole.EVALUATOR)">Assign as Evaluator</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-post-card>

      <app-post-card *ngIf="canAssignRoles() && !hasResearchRequests()" class="read-next-card post-card-secondary" [details]="inputRolesCardDetails">
        <form [formGroup]="researcherForm" class="post-form">
          <div class="gh-form-group-horizontal">
            <div class="gh-form-group">
              <label for="worker">Researcher</label>
              <input type="text" formControlName="worker" id="worker" class="gh-input" placeholder="e.g. 0x90F8bf…">
            </div>

            <div class="gh-form-group">
              <label for="evaluator">Evaluator</label>
              <input type="text" formControlName="evaluator" id="evaluator" class="gh-input" placeholder="e.g. 0x6A479f…">
            </div>
          </div>

          <div class="gh-form-group">
            <input type="submit" value="Assign Roles" (click)="onAssignRoles()" class="gh-input gh-btn-white">
          </div>
        </form>
      </app-post-card>
    </div>
  </div>
</aside>

<ng-template #researchRequestModal>
  <div class="modal-header">
    <h4 class="modal-title">Request to Help Research</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Thank you for expressing interest in helping with the research for this story! All we need now is a rough approximation
    of the time it will take to obtain sufficient information for this condition.</p>

    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Submit</button>
  </div>
</ng-template>
