<header class="tag-header outer no-cover">
  <div class="inner">
    <div class="tag-header-content">
      <div class="tag-header-left">
        <h1 class="tag-title">
          Community Stories
        </h1>
        <h2 class="tag-description">
          These stories need your help to make the impossible, possible.
          Be it through funds or time, even the smallest effort could make a huge difference.
        </h2>
      </div>
    </div>
  </div>
</header>

<main class="site-main outer">
  <div class="inner">
    <div class="post-feed">
      <app-story-card *ngFor="let story of stories$; let i = index" [story]="story | async" class="post-card post"
                     [class.flex-quarter]="getCardSize(i) === CardSize.THIRD"
                     [class.flex-half]="getCardSize(i) === CardSize.HALF">
      </app-story-card>
    </div>
  </div>
</main>
