@import '../../../assets/theme';

.tag-header {
  background-color: map-get($background, primary);
}

.post-card {
  flex-basis: 45%;
}

.flex-quarter {
  flex: 2 2 300px;
}

.flex-half {
  flex-grow: 2;
}
