<header class="tag-header outer no-cover">
  <div class="inner">
    <div class="tag-header-content">
      <div class="tag-header-left">
        <h1 class="tag-title">
          Community Stories
        </h1>
        <h2 class="tag-description">
          A regular stream of updates, fixes and changes we're making to Ghost as a product. These are all of the most important things we've shipped lately!
        </h2>
      </div>
      <div class="tag-header-right">
      </div>
    </div>
  </div>
</header>

<main id="site-main" class="site-main outer">
  <div class="inner">
    <div class="post-feed">

      <article class="post-card post tag-new-things featured flex-quarter">

        <a class="post-card-image-link" href="/zapier-x-ghost/">
          <div class="post-card-image" style="background-image: url(https://blog.ghost.org/content/images/2018/01/ghostzapimg--3-.jpg)"></div>
        </a>

        <div class="post-card-content">
          <a class="post-card-content-link" href="/zapier-x-ghost/">
            <div class="progress-container">
              <span class="progress-bar" [style.width]="'25%'"></span>
            </div>

            <header class="post-card-header">
              <span class="post-card-tags">Physical</span>
              <h2 class="post-card-title">Peter Giles</h2>
            </header>
            <div class="post-card-excerpt">
              <p>Ever wanted to connect external services to your Ghost site and create seamless automation between them? Now you can, with our new and official integration with Zapier. If you're not familiar with Zapier,</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>
              </li>
            </ul>
            <span class="reading-time">Raised $14,900</span>
          </footer>

        </div>

      </article>



      <article class="post-card post tag-new-things featured flex-half">

        <a class="post-card-image-link" href="/android/">
          <div class="post-card-image" style="background-image: url(https://blog.ghost.org/content/images/2017/11/DSCF1207-Edit--2-.jpg)"></div>
        </a>

        <div class="post-card-content">

          <a class="post-card-content-link" href="/android/">
            <header class="post-card-header">
              <span class="post-card-tags">New Things</span>
              <h2 class="post-card-title">Ghost Android</h2>
            </header>
            <div class="post-card-excerpt">
              <p>Ghost has always been a responsive web application, but today we're taking that a step further with an official native Android app! We've always tried to make a solid mobile web experience for</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>



              </li>
            </ul>
            <span class="reading-time">2 min read</span>
          </footer>

        </div>

      </article>

      <article class="post-card post tag-new-things tag-hash-noimg flex-quarter">

        <a class="post-card-image-link" href="/post-code-injection/">
          <div class="post-card-image" style="background-image: url(https://blog.ghost.org/content/images/2018/04/codeinj--2-.jpg)"></div>
        </a>

        <div class="post-card-content">

          <a class="post-card-content-link" href="/post-code-injection/">
            <header class="post-card-header">
              <span class="post-card-tags">New Things</span>
              <h2 class="post-card-title">Post Code Injection</h2>
            </header>
            <div class="post-card-excerpt">
              <p>We've just added Code Injection to posts and pages in Ghost, so you can add custom styles and scripts to the header and footer of individual articles. A while back we introduced Code</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>



              </li>
            </ul>
            <span class="reading-time">2 min read</span>
          </footer>

        </div>

      </article>



      <article class="post-card post tag-new-things tag-hash-noimg flex-quarter">

        <a class="post-card-image-link" href="/custom-excerpts/">
          <div class="post-card-image" style="background-image: url(https://blog.ghost.org/content/images/2018/04/excerpts3.jpg)"></div>
        </a>

        <div class="post-card-content">

          <a class="post-card-content-link" href="/custom-excerpts/">
            <header class="post-card-header">
              <span class="post-card-tags">New Things</span>
              <h2 class="post-card-title">Custom Excerpts</h2>
            </header>
            <div class="post-card-excerpt">
              <p>What's a custom excerpt? It's this! This piece of text, you're reading it right now! Click through for the full story on why these are useful 🕺🏻</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>



              </li>
            </ul>
            <span class="reading-time">1 min read</span>
          </footer>

        </div>

      </article>



      <article class="post-card post tag-new-things flex-quarter">

        <a class="post-card-image-link" href="/hemingway-mode/">
          <div class="post-card-image" style="background-image: url(https://blog.ghost.org/content/images/2017/07/hemingway.jpg)"></div>
        </a>

        <div class="post-card-content">

          <a class="post-card-content-link" href="/hemingway-mode/">
            <header class="post-card-header">
              <span class="post-card-tags">New Things</span>
              <h2 class="post-card-title">Hemingway Mode</h2>
            </header>
            <div class="post-card-excerpt">
              <p>Following the release of Ghost 1.0 last week, we're trying to get back into the habit of doing smaller, simpler releases and getting them out into the wild. So today we're releasing</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>



              </li>
            </ul>
            <span class="reading-time">1 min read</span>
          </footer>

        </div>

      </article>

      <article class="post-card post tag-new-things featured flex-half">

        <a class="post-card-image-link" href="/unsplash/">
          <div class="post-card-image" style="background-image: url(https://images.unsplash.com/photo-1502888395188-799b90b43871?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=a27af800130b6bf7eba979e5bcd030b2)"></div>
        </a>

        <div class="post-card-content">

          <a class="post-card-content-link" href="/unsplash/">
            <header class="post-card-header">
              <span class="post-card-tags">New Things</span>
              <h2 class="post-card-title">Unsplash x Ghost</h2>
            </header>
            <div class="post-card-excerpt">
              <p>We've just released an official Unsplash integration for Ghost; Now you can find and use beautiful free photos from the world's most generous community of photographers! No matter what case study you look</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>



              </li>
            </ul>
            <span class="reading-time">1 min read</span>
          </footer>

        </div>

      </article>



      <article class="post-card post tag-new-things flex-quarter">

        <a class="post-card-image-link" href="/custom-social-data/">
          <div class="post-card-image" style="background-image: url(https://blog.ghost.org/content/images/2017/08/social-main-1.jpg)"></div>
        </a>

        <div class="post-card-content">

          <a class="post-card-content-link" href="/custom-social-data/">
            <header class="post-card-header">
              <span class="post-card-tags">New Things</span>
              <h2 class="post-card-title">Custom Social Data</h2>
            </header>
            <div class="post-card-excerpt">
              <p>Ghost automatically creates rich structured data for all of your blog posts, but what if you want to customise that data for each of the social networks which you share to? Now: You can.</p>
            </div>
          </a>

          <footer class="post-card-meta">
            <ul class="author-list">
              <li class="author-list-item">

                <div class="author-name-tooltip">
                  John O'Nolan
                </div>

                <a href="/author/john/" class="static-avatar"><img class="author-profile-image" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" alt="John O'Nolan"></a>



              </li>
            </ul>
            <span class="reading-time">1 min read</span>
          </footer>

        </div>

      </article>
    </div>
  </div>
</main>
