<h2>Condition Details</h2>

<form [formGroup]="detailsForm" class="post-form">
  <div class="gh-form-group">
    <label>Category</label>
    <app-select formControlName="category" [options]="categories"></app-select>
    <p>This category will help researchers find stories related to their specialities.</p>
  </div>

  <div class="gh-form-group">
    <label for="symptoms">Symptoms</label>
    <input type="text" formControlName="symptoms" id="symptoms" class="gh-input"
           placeholder="(e.g. Rash on arms, easily sunburnt)">
    <p>A comma separated list of symptoms related to the condition.</p>
  </div>

  <div class="gh-form-group">
    <label for="details">Details</label>
    <textarea id="details" formControlName="details" class="gh-input"></textarea>
    <p>What effects does the condition have or anything that you have already learned about the condition?</p>
  </div>

  <div class="gh-form-group">
    <label for="images">Images</label>
    <input type="file" multiple (change)="onFileChange($event)" id="images" class="gh-input">
    <p>These images will only be shown to the researchers assigned to your story.</p>
  </div>

  <hr>

  <div class="gh-form-group">
    <input type="submit" value="Submit Story" (click)="onSubmit()" class="gh-input gh-btn-blue">
  </div>
</form>
