<h2>Funding Details</h2>

<form [formGroup]="detailsForm" class="post-form">
  <div class="gh-form-group">
    <label for="duration">Duration (days)</label>
    <input type="number" formControlName="duration" id="duration" class="gh-input" min="1" max="60">
    <p>Up to 60 days, however we recommend 30 days.</p>
  </div>

  <div class="gh-form-group">
    <label for="initialFunds">Initial Funds</label>
    <input type="number" formControlName="initialFunds" id="initialFunds" class="gh-input">
    <p>The amount of funds you would like to personally contribute.</p>
  </div>

  <hr>

  <div class="gh-form-group">
    <input type="submit" value="Finish" (click)="onSubmit()" class="gh-input gh-btn-blue">
  </div>
</form>
