<h5 class="card-title">Submit Research</h5>
<p class="card-text">
  Please be as detailed and informative as possible. After submitting, the evaluator will look over your contribution
  and determine if the supplied details and attached references indeed correlate with this condition.
</p>
<form [formGroup]="researchForm">
  <div class="form-group">
    <label for="causes">Found Causes</label>
    <textarea formControlName="causes" id="causes" class="form-control"></textarea>
    <small class="form-text text-muted">The root causes or possible conjectures about what may be causing the condition.</small>
  </div>

  <div class="form-group">
    <label for="treatments">Treatments</label>
    <textarea formControlName="treatments" id="treatments" class="form-control"></textarea>
    <small class="form-text text-muted">Treatments that may help alleviate the condition or whether there are no treatment procedures yet.</small>
  </div>

  <div class="form-group">
    <label for="symptoms">Additional Symptoms</label>
    <textarea formControlName="symptoms" id="symptoms" class="form-control"></textarea>
    <small class="form-text text-muted">Any additional symptoms that may be present with this condition.</small>
  </div>

  <div class="form-group">
    <label for="references">References</label>
    <textarea formControlName="references" id="references" class="form-control"></textarea>
    <small class="form-text text-muted">We need the references you used to ascertain the validity of the presented information.</small>
  </div>

  <hr>

  <div class="form-group">
    <input type="submit" value="Submit" (click)="onSubmit()" class="btn btn-primary btn-block">
  </div>
</form>
