<header class="gh-head">
  <nav class="gh-navbar inner">
    <div class="gh-navbar-left">
      <div class="gh-nav-logo gh-navbar-item">
        <a class="gh-nav-logo-title" routerLink="/">
          <h5>research<strong class="title-secondary">Colony</strong></h5>
        </a>
        <a class="gh-nav-logo-suffix" routerLink="/">Medical</a>
      </div>
      <a class="gh-navbar-item" routerLink="/">Home</a>
      <a class="gh-navbar-item" routerLink="stories">Stories</a>
    </div>

    <div class="gh-navbar-right">
      <a class="gh-navbar-item" routerLink="story/details">New Story</a>
      <a class="gh-navbar-btn gh-btn" href="/" id="signin-button">
        <span>My Account</span>
      </a>
    </div>
  </nav>
</header>

<header class="gh-mobilehead" [class.gh-mobilehead-open]="mobileOpen">
  <nav class="gh-mobilenavbar">
    <a class="gh-nav-burger" (click)="mobileOpen = !mobileOpen">
      <div class="hamburger hamburger--collapse" aria-label="Menu">
        <div class="hamburger-box"><div class="hamburger-inner"></div>
        </div>
      </div>
    </a>
    <div class="gh-nav-logo">
      <a class="gh-nav-logo-title" routerLink="/">
        <h5>research<strong class="title-secondary">Colony</strong></h5>
      </a>
      <a class="gh-nav-logo-suffix" routerLink="/">Medical</a>
    </div>
  </nav>
  <div class="gh-mobilemenu">
    <a class="gh-navbar-item" routerLink="/">Home</a>
    <a class="gh-navbar-item" routerLink="/stories">Stories</a>
    <a class="gh-navbar-item" routerLink="/story/details">New Story</a>
    <a class="gh-navbar-item" routerLink="/">My Account</a>
  </div>
</header>
