<ul *ngIf="!showDetailed" class="author-list">
  <ng-container *ngTemplateOutlet="authorBasic"></ng-container>
</ul>

<ul *ngIf="showDetailed" class="author-list">
  <ng-container *ngTemplateOutlet="authorDetailed"></ng-container>
</ul>

<ng-template #authorBasic>
  <li *ngFor="let author of authors" class="author-list-item">
    <div class="author-name-tooltip">
      {{author.name}}
    </div>

    <a [href]="author.link" class="static-avatar">
      <img class="author-profile-image" [src]="author.image" [alt]="author.name">
    </a>
  </li>
</ng-template>

<ng-template #authorDetailed>
  <li *ngFor="let author of authors" #authorItem class="author-list-item"
      (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
    <div class="author-card">
      <div class="basic-info no-cover">
        <img class="author-profile-image" [src]="author.image" [alt]="author.name">
        <h2>{{author.name}}</h2>
      </div>
      <div class="author-card-bio">
        <p>Doctor at Yale Medical College</p>
        <span>
          <a href="/author/john/">More posts</a> by John O'Nolan.
        </span>
      </div>
    </div>

    <a [href]="author.link" class="moving-avatar">
      <img class="author-profile-image" [src]="author.image" [alt]="author.name">
    </a>
  </li>
</ng-template>
