<form>
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Ask a Question"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Send Question</button>
  </div>
</form>
<hr>
<div class="media mb-4">
  <img class="d-flex mr-3 rounded-circle" src="https://www.gravatar.com/avatar/49ebcbbe9bb3ed1f5d5de91483de383c?s=250&d=mm&r=x" width="50" alt="">
  <div class="media-body">
    <h5 class="mt-0">Primary Researcher</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

    <div class="media mt-4">
      <img class="d-flex mr-3 rounded-circle" src="//www.gravatar.com/avatar/f95828f4e92f1befebabfb7f65cdc8f2?s=250&amp;d=mm&amp;r=x" width="50" alt="">
      <div class="media-body">
        <h5 class="mt-0">Story Coordinator</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</div>
