<h2>Story Details</h2>

<form [formGroup]="detailsForm" class="post-form">
  <div class="gh-form-group">
    <label for="title">Title</label>
    <input type="text" formControlName="title" id="title" class="gh-input">
    <p>An eye-opening title or just the individual / group's name.</p>
  </div>

  <div class="gh-form-group">
    <label for="details">Details</label>
    <textarea id="details" formControlName="details" class="gh-input"></textarea>
    <p>How has this condition affected family and loved ones?</p>
  </div>

  <div class="gh-form-group">
    <label for="main-image">Main Image</label>
    <input type="file" (change)="onFileChange($event)" id="main-image" class="gh-input">
    <p>This is the main image associated with your story, make it inspirational!</p>
  </div>

  <!--<div class="gh-form-group">-->
    <!--<label for="duration">Funding Duration (days)</label>-->
    <!--<input type="number" formControlName="fundingDuration" id="duration" class="gh-input" value="30">-->
    <!--<p>Up to 60 days, however we recommend 30 days.</p>-->
  <!--</div>-->

  <hr>

  <div class="gh-form-group">
    <input type="submit" value="Next" (click)="onSubmit()" class="gh-input gh-btn-blue">
  </div>
</form>
