<main class="site-main outer">
  <div class="inner py-3">
    <div class="d-flex justify-content-between align-items-center my-2">
      <h1 class="display-4">{{storyDetails?.title || 'Loading...'}}</h1>
      <button [routerLink]="['/stories', story?.id]" class="btn btn-outline-primary">Back to Story</button>
    </div>
    <div *ngIf="canRate && isResearching()" class="alert alert-info" role="alert">
      We need your rating for the Story Coordinator, please <a (click)="onRate()" [routerLink]="" class="alert-link">click here</a> to submit your rating.
    </div>
    <div *ngIf="canRate && isEvaluating()" class="alert alert-info" role="alert">
      We need your evaluation for the submitted research, please <a (click)="viewState = ViewState.SUBMIT" [routerLink]="" class="alert-link">click here</a> to review.
    </div>
    <div *ngIf="allRated" class="alert alert-info" role="alert">
      All ratings are in! We need you to reveal your rating for the {{isResearching() ? 'Story Coordinator' : 'Researchers'}}, please <a (click)="onRevealRating()" [routerLink]="" class="alert-link">click here</a> to reveal your rating.
    </div>
    <div *ngIf="canView()" class="row pt-2 pb-4">
      <div class="col-sm-3">
        <div class="card">
          <ul class="nav list-group list-group-flush">
            <li class="list-group-item font-weight-bold">Information</li>
            <li class="nav-item list-group-item">
              <a (click)="viewState = ViewState.CONDITION" [routerLink]="" class="nav-link card-link">Condition Details</a>
            </li>
            <li class="nav-item list-group-item">
              <a (click)="viewState = ViewState.SYMPTOMS" [routerLink]="" class="nav-link card-link">Symptoms</a>
            </li>
            <li class="nav-item list-group-item">
              <a (click)="viewState = ViewState.IMAGES" [routerLink]="" class="nav-link card-link">Images</a>
            </li>

            <li class="list-group-item font-weight-bold">Analysis</li>
            <li class="nav-item list-group-item">
              <a (click)="viewState = ViewState.QUESTIONS" [routerLink]="" class="nav-link card-link">Questions</a>
            </li>
            <li *ngIf="isResearching()" class="nav-item list-group-item">
              <a (click)="viewState = ViewState.SUBMIT" [routerLink]="" class="nav-link card-link">Submit Research</a>
            </li>
            <li *ngIf="isEvaluating()" class="nav-item list-group-item">
              <a (click)="viewState = ViewState.SUBMIT" [routerLink]="" class="nav-link card-link">Evaluate Research</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <app-research-condition *ngIf="viewState === ViewState.CONDITION" [details]="conditionDetails"></app-research-condition>
            <app-research-symptoms *ngIf="viewState === ViewState.SYMPTOMS" [details]="conditionDetails"></app-research-symptoms>
            <app-research-images *ngIf="viewState === ViewState.IMAGES" [details]="conditionDetails"></app-research-images>

            <app-research-questions *ngIf="viewState === ViewState.QUESTIONS"></app-research-questions>
            <app-research-submit *ngIf="viewState === ViewState.SUBMIT" [story]="story" [roles]="userRoles"></app-research-submit>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!canView()" class="row py-4">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <p class="card-text">
              Sorry, but you do not have permission to view this story's details. You may request to become a researcher
              on the story page if you'd like to be a part of the research.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #ratingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Rate Story</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Please rate the quality of the story and details written by the Story Coordinator. This rating will be used to
      judge the quality of the article and whether it will be helpful to others.
    </p>

    <ngb-rating [(rate)]="rating" max="5" id="rating">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(rating)">Submit</button>
  </div>
</ng-template>
