<header class="tag-header outer no-cover">
  <div class="inner">
    <div class="tag-header-content">
      <div class="tag-header-left">
        <h1 class="tag-title">
          New Story
        </h1>
        <h2 class="tag-description">
          These stories need your help to make the impossible, possible.
          Be it through funds or time, even the smallest effort could make a huge difference.
        </h2>
      </div>
    </div>

    <app-stepper [steps]="stepArray"></app-stepper>
  </div>
</header>

<main class="site-main outer">
  <div class="inner">
    <section [ngSwitch]="activeStep | async" class="post-full-content">
      <app-story-details *ngSwitchCase="Step.STEP1"></app-story-details>
      <app-condition-details *ngSwitchCase="Step.STEP2"></app-condition-details>
      <app-funding *ngSwitchCase="Step.STEP3"></app-funding>
    </section>
  </div>
</main>
