@import '../../../assets/theme';

.tag-header {
  background-color: map-get($background, primary);
  z-index: 101;
  padding-bottom: 0;

  .tag-header-content {
    padding-bottom: 60px;
  }
}

.post-full-content:after, .post-full-content:before {
  top: 0;
  height: 400px;
}
