<header class="tag-header outer no-cover">
  <div class="inner">
    <div class="tag-header-content">
      <div class="tag-header-left">
        <h1 class="tag-title">
          New Story
        </h1>
        <p class="tag-description">
          There are two general crowds who will be reading these stories, monetary contributors who are interested in the
          emotional impact and researchers who need detailed information regarding the condition. With this
          in mind, the story details are presented to the funders and the condition details are presented to the researchers.
        </p>
      </div>
    </div>

    <app-stepper [steps]="stepArray"></app-stepper>
  </div>
</header>

<main class="site-main outer">
  <div class="inner">
    <section [ngSwitch]="activeStep | async" class="post-full-content">
      <app-story-details *ngSwitchCase="Step.STEP1"></app-story-details>
      <app-condition-details *ngSwitchCase="Step.STEP2"></app-condition-details>
      <app-researchers *ngSwitchCase="Step.STEP3"></app-researchers>
    </section>
  </div>
</main>
