<header class="tag-header outer no-cover">
  <div class="inner">
    <div class="tag-header-content">
      <div class="tag-header-left">
        <h1 class="tag-title">
          New Story
        </h1>
        <h2 class="tag-description">
          These stories need your help to make the impossible, possible.
          Be it through funds or time, even the smallest effort could make a huge difference.
        </h2>
      </div>
    </div>

    <app-stepper [steps]="steps"></app-stepper>
  </div>
</header>

<main class="site-main outer">
  <div class="inner">
    <section class="post-full-content">
      <form class="post-form">
        <div class="gh-form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="gh-input">
          <p>An eye-opening title or just the individual / group's name.</p>
        </div>

        <div class="gh-form-group">
          <label for="details">Details</label>
          <textarea id="details" class="gh-input"></textarea>
          <p>How has this condition affected family and loved ones?</p>
        </div>

        <div class="gh-form-group">
          <label for="main-image">Main Image</label>
          <input type="file" id="main-image" class="gh-input">
          <p>This is the main image associated with your story, make it inspirational!</p>
        </div>

        <div class="gh-form-group">
          <label for="duration">Funding Duration (days)</label>
          <input type="number" id="duration" class="gh-input" value="30">
          <p>Up to 60 days, however we recommend 30 days.</p>
        </div>

        <hr>

        <div class="gh-form-group">
          <input type="submit" value="Next" class="gh-input gh-btn-blue">
        </div>
      </form>
    </section>
  </div>
</main>
