<h2>Publish</h2>
<p>
  The last step is to publish your story! Once submitted, your story will be live immediately and people may start donating right away.
  Alongside donations, community requests for participating in the research will begin to arrive and you will start to see them on your story's page.
</p>
<hr>
<input type="button" value="Publish" (click)="onPublish()" class="btn btn-primary btn-block">

<!--<form [formGroup]="detailsForm">-->
  <!--<div class="form-group">-->
    <!--<label for="researcher">Researcher (Optional)</label>-->
    <!--<input type="text" formControlName="researcher" id="researcher" class="form-control" placeholder="e.g. 0x90f8bf6a479f320ead074411a4b0e7944ea8c9c1">-->
    <!--<small class="form-text text-muted">The Ethereum address of the individual who will be performing the research.</small>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label for="evaluator">Evaluator (Optional)</label>-->
    <!--<input type="text" formControlName="evaluator" id="evaluator" class="form-control" placeholder="e.g. 0x3134f954aff7f5f8eb849a80fb85447e5b2a3696">-->
    <!--<small class="form-text text-muted">The Ethereum address of the individual who will be evaluating the researchers findings.</small>-->
  <!--</div>-->

  <!--<hr>-->

  <!--<div class="form-row">-->
    <!--<div class="form-group col">-->
      <!--<input type="button" value="Skip" (click)="onSkip()" class="btn btn-light btn-block">-->
    <!--</div>-->
    <!--<div class="form-group col">-->
      <!--<input type="submit" value="Finish" (click)="onSubmit()" class="btn btn-primary btn-block">-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
